extends layout

block content
  h1= title
  p Welcome to #{title}
  p We've outlined a basic CruzID Gold app here. When the login link is clicked, we should be routed to the IdM login screen. Upon successful login, we should be able to populate our res.locals.testUser with the attributes passed back from IdM.
  p Added Pug for Jade, copied some of our baseline code.
  p To Do: add SSL, update the apache conf on VM with any changes.
